<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100;200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/index.css">
    <title>Digital Bank</title>
</head>
<body>

    <%  let formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'ARS',
    }); %>

    <header class="header-container">
        <h1>DigitalBank</h1>
        <a href="/login">Logout</a>
    </header>

    <main class="main-container">
        <div class="user-info-container">
            <div class="user-name">
                <h2>Welcome, <%= firstname %></h2>
            </div>
            <div class="money-container">
                <h1>Digital<span>Bank</span></h1>
                <h3 class="hide-money">Available Money</h3>
                <h3 class="hide-money">$ <%= money %></h3>
            </div>
            <a class="logoutBtn" href="logout">Logout</a>
            <a class="sendBtnMobile" href="transfer">Transfer</a>
        </div>
    </main>

    <div class="mid-page-wrapper">
        <div class="info-money-container">
            <div>
                <h3>Available Money</h3>
            </div>
            <div>
                <h3><%= formatter.format(money).replace("ARS", "$") %></h3>
            </div>
            <div>
                <a class="sendBtnDesktop" href="transfer">Transfer</a>
            </div>
        </div>


            <div class="transactions">
                <h3 class="transactions-header">Your last movements</h3>

                <% results2.slice(-10).forEach((transaction) => { %>
                    <% if(transaction.senderid == userid) { %>
                        <div class="sent-transaction">
                            <div class="img-info-container">
                                <img src="../resources/images/sentmoneyicon.svg" alt="received money icon">
                                <span class="transaction-text-span">You transfered to <span class="transaction-info-span"><%= transaction.receiver_firstname %> <%= transaction.receiver_lastname %></span></span>
                            </div>
                            <div class="quantityamount-container">
                                <p>- <%= formatter.format(transaction.quantityamount).replace("ARS", "$") %></p>
                                <p class="date"><%= transaction.explicitdate.slice(0, -6) %></p>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="received-transaction">
                            <div class="img-info-container">
                                <img src="../resources/images/receivedmoneyicon.svg" alt="sent money icon">
                                <span class="transaction-text-span"><span class="transaction-info-span"><%= transaction.sender_firstname %> <%= transaction.sender_lastname %></span> transferred you</span>
                            </div>
                            <div class="quantityamount-container">
                                <p><%= formatter.format(transaction.quantityamount).replace("ARS", "$") %></p>
                                <p class="date"><%= transaction.explicitdate.slice(0, -6) %></p>
                            </div>
                        </div>
                    <% } %>
                <% }) %>
                <div class="transactionsBtnDiv">
                    <a href="/transactions" class="transactionsBtn">See all your activity</a>
                </div>
            </div>
    </div>

    <script src="../controllers/currencyController.js"></script>
</body>
</html>